<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Cookies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestingCookie</servlet-name>
    <servlet-class>CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingCookie</servlet-name>
    <url-pattern>/active-cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepeatingVisit</servlet-name>
    <servlet-class>RepeatedVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepeatingVisit</servlet-name>
    <url-pattern>/see-you-again</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepeatingVisit-v2</servlet-name>
    <servlet-class>RepeatedVisitor2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepeatingVisit-v2</servlet-name>
    <url-pattern>/see-you-again-v2</url-pattern>
  </servlet-mapping>
  
</web-app>