<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HeadersProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>showheaders</servlet-name>
    <servlet-class>ShowAllHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showheaders</servlet-name>
    <url-pattern>/showallheaders</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AgentChecker</servlet-name>
  	<servlet-class>UserAgentChecker</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AgentChecker</servlet-name>
  	<url-pattern>/agentchecker</url-pattern>
  </servlet-mapping>
</web-app>